Geldmarktstatistik/SchemaFiles/DRAFT11auth.012.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2015 Sep 03 17:24:17, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT11auth.012.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT11auth.012.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Classification type of the financial instrument, as per the ISO 10962 Classification of Financial Instrument (CFI) codification, eg, common share with voting rights, fully paid, or registered.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Collateral10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Collateral10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details of the security pledge as collateral.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Valtn" type="SecuredCollateral1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Valuation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the values of the security pledged as collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Hrcut" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Haircut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Risk control measure applied to underlying collateral whereby the value of that underlying collateral is calculated as the market value of the assets reduced by a certain percentage. &#13;
&#13;
For reporting purposes the collateral haircut will be calculated as 100 minus the ratio between the cash lent/borrowed and the market value including accrued interest of the collateral pledged times 100. &#13;
&#13;
In the case of multi-collateral repos the haircut will be based on the ratio between the cash borrowed/lent and the market value, including accrued interest of each of the individual collateral pledged.  &#13;
&#13;
Only actual values, as opposed to estimated or default values will be reported for this variable.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SpclCollInd" type="SpecialCollateral1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpecialCollateralIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies all repurchase agreements conducted against general collateral and those conducted against special collateral.  &#13;
- General Collateral is a repurchase transaction in which the security lender may choose the security to pledge as collateral with the cash provider amongst a relatively wide range of securities meeting predefined criteria; &#13;
- Special Collateral is a repurchase transaction in which the cash provider requests a specific security (individual ISIN) to be provided by the cash borrower. &#13;
&#13;
Usage:&#13;
This field is optional and it should be provided only in case it is feasible for the reporting agent. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralPool1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralPool1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the collateral is a pool collateral or not.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoPool</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collateral is not of pool type.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="POOL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pool</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collateral is of pool type.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralValuation3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralValuation3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the valuation of a collateral, identified through an ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmnlAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NominalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nominal amount of the security pledged as collateral. Except for tri-party repos and any other transaction in which the security pledged is not identified via a single ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralValuation4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralValuation4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the specification of the valuation of a collateral, based on the sector and the asset classification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PoolSts" type="CollateralPool1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PoolStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the collateral is a pool collateral or not.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="CFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the asset class pledged as collateral, expressed as an ISO 10962 Classification of Financial Instrument (CFI).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sctr" type="SNA2008SectorIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sector</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the institutional sector, such as central government, central bank, etc. of the issuer of collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NmnlAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NominalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nominal amount of money of the security pledged as collateral, when the collateral cannot be identified through an individual or basket ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CounterpartyIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the reporting agent counterparty.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal entity identifier code used to recognise the counterparty of the reporting agent for the reported transaction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Othr" type="SectorAndLocation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other identification of the counterparty through the sector and the location.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriod1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MnyMktScrdMktSttstclRpt" type="MoneyMarketSecuredMarketStatisticalReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingRateNote1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FloatingRateNote1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details of a debt instrument in which the periodic interest payments are calculated on the basis of the value (that is, fixing of an underlying reference rate such as the Euribor) on predefined dates (that is, fixing dates) and which has a maturity of no more than one year.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RefRateIndx" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceRateIndex</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying reference rate on the basis on which the periodic interest payments are calculated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BsisPtSprd" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BasisPointSpread</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of basis points added to (if positive) or deducted from (if negative) the underlying reference rate to calculate the actual interest rate applicable for a given period at issuance of the floating rate instrument.&#13;
&#13;
Used to express differences in interest rates, for example, a difference of 0.10% is equivalent to a change of 10 basis points.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="InterestRateType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InterestRateType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of interest rate.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Fixed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate is fixed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VARI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Variable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate is variable.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max105Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 105 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MoneyMarketReportHeader1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MoneyMarketReportHeader1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the money market statistical report instrument related header details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptgAgt" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent which reports on the money market transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RefPrd" type="DateTimePeriod1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferencePeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Beginning and ending date-time to which the transaction data refers (trade date in case of new transactions and date of amendment in case of revisions). </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MoneyMarketSecuredMarketStatisticalReportV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MoneyMarketSecuredMarketStatisticalReportV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The MoneyMarketSecuredMarketStatisticalReport message is sent by the reporting agents to the relevant NCB or to the ECB to report all repurchase agreements and transactions entered into thereunder, including tri-party repo transactions, which are denominated in euro with a maturity of up to and including one year (defined as transactions with a maturity date of not more than 397 days after the trade date) between the reporting agent and other monetary financial institutions (MFIs), other financial intermediaries (OFIs), insurance corporations, pension funds, general government or central banks for investment purposes as well as non-financial corporations classified as ‘wholesale’ under the Basel III LCR framework.  Please note that intra-group transactions shall not be reported. Groups and intra-group transactions are defined on the basis of Art. 1(15) and (19) of the Regulation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptHdr" type="MoneyMarketReportHeader1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the elements specific to the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ScrdMktRpt" type="SecuredMarketReport1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuredMarketReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the reason why no activity is reported or the required list of transactions for the secured market segment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MoneyMarketTransactionType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MoneyMarketTransactionType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the transaction type used in the money market statistical reporting for the secured market.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BORR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashBorrowing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a borrowing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashLending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a lending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PlusOrMinusIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a positive or negative value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Rate2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Rate2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements qualifying the interest rate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sign</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the sign of the rate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rate" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Percentage charged for the use of an amount of money, usually expressed at an annual rate. The interest rate is the ratio of the amount of interest paid during a certain period of time compared to the principal amount of the interest bearing financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportPeriodActivity1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of report activity for a specific reporting period.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No transaction has been identified during the period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SNA2008SectorIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SNA2008SectorIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">System of National Accounts (SNA) Sector. Hierarchical classification of the sectors, as defined in the System of National Accounts 2008, as published by the United Nations.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SectorAndLocation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SectorAndLocation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the reported party through the sector and the location.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sctr" type="SNA2008SectorIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sector</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represents the counterparty institutional section (such as non-financial corporation, central bank, ...).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Lctn" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Location of the country in which the counterparty is incorporated. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuredCollateral1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuredCollateral1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the collateral details for the secured markets.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="SnglColl" type="CollateralValuation3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the security pledged via a single ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MltplColl" type="CollateralValuation3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MultipleCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies all securities pledged when the transaction is collateralised with more than one security. &#13;
Usage:&#13;
In case of multi-collateral repo, the nominal amount of each collateralised security must be provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PoolColl" type="CollateralValuation3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PoolCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the pooling of repos in which the collateral basket is identified by an ISIN. &#13;
&#13;
Usage: When the collateral basket is identified by an ISIN, the basket ISIN shall be reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OthrColl" type="CollateralValuation4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the collateral when the asset class pledged as collateral does not correspond to an ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuredMarketReport1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuredMarketReport1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a reason for no activity and the secured market segment transaction details.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSetAction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the reason why no transactions are being reported for a money market reporting period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Tx" type="SecuredMarketTransaction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Transaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the details of the secured market transaction as reported by the reporting agent</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuredMarketTransaction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuredMarketTransaction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details of each individual secured market transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptdTxSts" type="TransactionOperationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportedTransactionStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the status of the reported transaction, that is details on whether the transaction is a new transaction, an amendment of a previously reported transaction, a cancellation of a previously reported transaction or a correction to a previously reported and rejected transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqTxIdr" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique transaction identifier will be created at the time a transaction is first executed, shared with all registered entities and counterparties involved in the transaction, and used to track that particular transaction during its lifetime.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryTxId" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Internal unique transaction identifier used by the reporting agent for each transaction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyPrtryTxId" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyProprietaryTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Internal unique proprietary transaction identifier as assigned by the counterparty of the reporting agent for each transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtrPtyId" type="CounterpartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the counterparty of the reporting agent for the reported transaction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgtId" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TripartyAgentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the tri-party agent, when the transaction has been performed via tri-party agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradDt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time on which the parties entered into the reported transaction.&#13;
&#13;
Usage: when time is available, it must be reported.&#13;
&#13;
It is to be reported with only the date when the time of the transaction is not available. &#13;
&#13;
The reported time is the execution time when available or otherwise the time at which the transaction entered the trading system of the reporting agent. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money is initially exchanged versus the asset as contractually agreed.&#13;
&#13;
Usage:&#13;
In the case of open basis repurchase transactions, this is the date on which the rollover settles (even if no exchange of an amount of money takes place).&#13;
In the case of a settlement failure in which settlement takes place on a date different than initially agreed, no transactional amendment needs to be reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtrtyDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaturityDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the repurchase will be executed, that is the date on which the amount of money is due to be returned or received versus the asset pledged or received as collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxTp" type="MoneyMarketTransactionType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines whether the transaction is a cash borrowing or cash lending transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxNmnlAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionNominalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money initially borrowed or lent to be reported as an absolute value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RateTp" type="InterestRateType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RateType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction interest rate of the repurchase agreements is either fixed or floating (variable rate).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRate" type="Rate2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Interest rate expressed in accordance with ACT/360 money market convention at which the repurchase agreement has been concluded and at which the cash lent is remunerated.&#13;
&#13;
Usage:&#13;
When the remuneration for securities lending transactions is represented by a fee amount, the fee amount will be translated into a deal rate per annum based on the ratio between the fee amount and the transaction nominal amount times 360 divided by the number of days between the settlement date and the maturity of the transaction. &#13;
&#13;
Only actual values, as opposed to estimated or default values, will be reported for this variable.&#13;
&#13;
This value can be either positive or negative irrespective of whether the cash is borrowed or lent. It represents the contractually agreed remuneration rate on the transaction nominal amount regardless of the transaction sign (that whether the transaction type is reported as borrowed or lent).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FltgRateRpAgrmt" type="FloatingRateNote1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FloatingRateRepurchaseAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Repurchase agreement in which the periodic interest payments are calculated on the basis of the value (that is, fixing of an underlying reference rate such as Euribor) on predefined dates (that is, fixing dates) and which has a maturity of no more than one year.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Coll" type="Collateral10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Collateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the asset class pledged as collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SpecialCollateral1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SpecialCollateral1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the collateral type against which all repurchase agreements are conducted.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GeneralCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies that all repurchase agreements are conducted against general collateral.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpecialCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies that all repurchase agreements are conducted against special collateral.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionOperationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of process related to a specific transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amendment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction amends a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction requests the deletion/cancellation of a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Correction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction corrects errors in a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NEWT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a new transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
