Geldmarktstatistik/SchemaFiles/DRAFT9auth.015.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2015 Sep 03 17:24:17, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT9auth.015.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT9auth.015.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CounterpartyIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CounterpartyIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the reporting agent counterparty.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal entity identifier code used to recognise the counterparty of the reporting agent for the reported transaction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Othr" type="SectorAndLocation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other identification of the counterparty through the sector and the location.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriod1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MnyMktOvrnghtIndxSwpsSttstclRpt" type="MoneyMarketOvernightIndexSwapsStatisticalReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max105Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 105 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MoneyMarketOvernightIndexSwapsStatisticalReportV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MoneyMarketOvernightIndexSwapsStatisticalReportV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The MoneyMarketOvernightIndexSwapsStatisticalReport message is sent by the reporting agents to the relevant NCB or to the ECB to report the daily overnight index swaps (OIS) transactions and conducted with other monetary financial institutions (MFIs), other financial intermediaries (OFIs), insurance corporations, pension funds, general government or central banks for investment purposes as well as with non-financial corporations classified as ‘wholesale’ according to the Basel III LCR framework.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptHdr" type="MoneyMarketReportHeader1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the elements specific to the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OvrnghtIndxSwpsRpt" type="OvernightIndexSwap1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OvernightIndexSwapsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the reason why no activity is reported or the required list of transactions for the overnight index swaps segment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MoneyMarketReportHeader1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MoneyMarketReportHeader1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the money market statistical report instrument related header details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptgAgt" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent which reports on the money market transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RefPrd" type="DateTimePeriod1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferencePeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Beginning and ending date-time to which the transaction data refers (trade date in case of new transactions and date of amendment in case of revisions). </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OvernightIndexSwap1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OvernightIndexSwap1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a reason for no activity and the overnight index swaps segment transaction details.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSetAction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the reason why no transactions are being reported for a money market reporting period. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Tx" type="OvernightIndexSwapTransaction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Transaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the details of the secured market transaction as reported by the reporting agent</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OvernightIndexSwapTransaction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OvernightIndexSwapTransaction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details of each individual overnight index swap transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptdTxSts" type="TransactionOperationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportedTransactionStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the status of the reported transaction, that is details on whether the transaction is a new transaction, an amendment of a previously reported transaction, a cancellation of a previously reported transaction or a correction to a previously reported and rejected transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqTxIdr" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique transaction identifier will be created at the time a transaction is first executed, shared with all registered entities and counterparties involved in the transaction, and used to track that particular transaction during its lifetime.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryTxId" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Internal unique transaction identifier used by the reporting agent for each transaction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyPrtryTxId" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyProprietaryTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Internal unique proprietary transaction identifier as assigned by the counterparty of the reporting agent for each transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtrPtyId" type="CounterpartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the counterparty of the reporting agent for the reported transaction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradDt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time on which the parties entered into the reported transaction.&#13;
&#13;
Usage: when time is available, it must be reported.&#13;
&#13;
It is to be reported with only the date when the time of the transaction is not available. &#13;
&#13;
The reported time is the execution time when available or otherwise the time at which the transaction entered the trading system of the reporting agent. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StartDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represents the date as of which the overnight rate of the floating leg is computed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtrtyDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaturityDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Last date of the term over which the compounded overnight rate is calculated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FxdIntrstRate" type="Rate2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FixedInterestRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fixed rate used for the calculation of the overnight index swap pay out.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxTp" type="OvernightIndexSwapType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines whether the fixed interest rate is paid or received by the reporting agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxNmnlAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionNominalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notional amount of the overnight index swap.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OvernightIndexSwapType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OvernightIndexSwapType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of overnight index swap transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Paid</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fixed interest rate is paid by the reporting agent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RECE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Received</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fixed interest rate is received by the reporting agent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PlusOrMinusIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a positive or negative value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Rate2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Rate2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements qualifying the interest rate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sign</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the sign of the rate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rate" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Percentage charged for the use of an amount of money, usually expressed at an annual rate. The interest rate is the ratio of the amount of interest paid during a certain period of time compared to the principal amount of the interest bearing financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportPeriodActivity1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of report activity for a specific reporting period.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No transaction has been identified during the period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SNA2008SectorIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SNA2008SectorIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">System of National Accounts (SNA) Sector. Hierarchical classification of the sectors, as defined in the System of National Accounts 2008, as published by the United Nations.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SectorAndLocation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SectorAndLocation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the reported party through the sector and the location.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sctr" type="SNA2008SectorIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sector</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represents the counterparty institutional section (such as non-financial corporation, central bank, ...).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Lctn" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Location of the country in which the counterparty is incorporated. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionOperationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of process related to a specific transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amendment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction amends a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction requests the deletion/cancellation of a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Correction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction corrects errors in a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NEWT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a new transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
