Geldmarktstatistik/SchemaFiles/DRAFT10auth.013.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2015 Sep 03 17:24:17, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT10auth.013.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT10auth.013.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CounterpartyIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CounterpartyIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the reporting agent counterparty.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal entity identifier code used to recognise the counterparty of the reporting agent for the reported transaction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Othr" type="SectorAndLocation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other identification of the counterparty through the sector and the location.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriod1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MnyMktUscrdMktSttstclRpt" type="MoneyMarketUnsecuredMarketStatisticalReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FinancialInstrumentProductType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentProductType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of product or financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CEOD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CertificateOfDeposit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certificate issued by a bank or thrift that indicates a specified sum of money deposited. The certificate has a maturity date and a specified interest rate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommercialPaper</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short-term, unsecured promissory note issued by a corporation. The maturity is typically less than 270 days, with a most common maturity range of 30 to 50 days or less. Commercial paper is usually issued at a discount, though some are interest-bearing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherShortTermDebtSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other short term debt securities issued.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ABCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AssetBackedCommercialPaper</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debt instrument issued by a financial institution which has a maturity of no more than one year, is either interest-bearing or discounted and is backed by some form of collateral.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FRNT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FloatingRateNote</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debt instrument in which the periodic interest payments are calculated on the basis of the value (fixing of an underlying reference rate such as the Euribor) on predefined dates (fixing dates) and which has a maturity of no more tha one year.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CACM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CallAccountCallMoney</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash account with a notice period to withdraw money and that gives rise to interest payments or calculations at regular intervals, and daily change of the applicable rate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deposit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unsecured interest-bearing deposit that is either redeemable at notice or has a maturity of no more than one year, that is 397 days after the settlement date, and which is either taken (borrowing) or placed (lending) by the agent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FloatingRateNote1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FloatingRateNote1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details of a debt instrument in which the periodic interest payments are calculated on the basis of the value (that is, fixing of an underlying reference rate such as the Euribor) on predefined dates (that is, fixing dates) and which has a maturity of no more than one year.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RefRateIndx" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceRateIndex</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Underlying reference rate on the basis on which the periodic interest payments are calculated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BsisPtSprd" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BasisPointSpread</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of basis points added to (if positive) or deducted from (if negative) the underlying reference rate to calculate the actual interest rate applicable for a given period at issuance of the floating rate instrument.&#13;
&#13;
Used to express differences in interest rates, for example, a difference of 0.10% is equivalent to a change of 10 basis points.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="InterestRateType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InterestRateType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of interest rate.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Fixed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate is fixed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VARI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Variable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate is variable.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max105Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 105 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MoneyMarketReportHeader1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MoneyMarketReportHeader1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the money market statistical report instrument related header details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptgAgt" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent which reports on the money market transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RefPrd" type="DateTimePeriod1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferencePeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Beginning and ending date-time to which the transaction data refers (trade date in case of new transactions and date of amendment in case of revisions). </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MoneyMarketTransactionType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MoneyMarketTransactionType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the transaction type used in the money market statistical reporting for the secured market.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BORR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashBorrowing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a borrowing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashLending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a lending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MoneyMarketUnsecuredMarketStatisticalReportV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MoneyMarketUnsecuredMarketStatisticalReportV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The MoneyMarketSecuredMarketStatisticalReport message is sent by the reporting agents to the relevant NCB or to the ECB to report all daily unsecured transactions covering:&#13;
(a)	all borrowing denominated in euro with a maturity of up to and including one year (that is 397 days), from other monetary financial institutions (MFIs), other financial intermediaries (OFIs), insurance corporations, pension funds, general government or central banks for investment purposes as well as with non-financial corporations classified as ‘wholesale’ according to the Basel III LCR framework using the instruments defined in the regulation covering in particular unsecured deposits and the issuance of fixed-rate or variable rate short-term debt securities (397 days).&#13;
(b)	all lending denominated in euro to other credit institutions with a maturity of up to and including one year (i.e. 397 days) via unsecured deposits or via the purchase from the issuing credit institutions of  fixed-rate or variable rate short-term debt securities with a maturity of up to one year (397 days).&#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptHdr" type="MoneyMarketReportHeader1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the elements specific to the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UscrdMktRpt" type="UnsecuredMarketReport1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnsecuredMarketReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the reason why no activity is reported or the required list of transactions for the unsecured market segment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Option12">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Option12</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details for a call/put option.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="OptionType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies whether the instrument has a call option or a put option. If the instrument contains both options, i.e. a call and a put, both the call option and the put option have to be reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtOrPrd" type="OptionDateOrPeriod1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateOrPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the exercise date or notice period for a call/put option.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionDateOrPeriod1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OptionDateOrPeriod1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the exercise date or notice period for a call/put option.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="EarlstExrcDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EarliestExerciseDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">First date on which the call option or the put option can be exercised. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NtcePrd" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoticePeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of calendar days that the holder of the instrument/issuer of the instrument will give to the issuer/holder of the instrument before exercising the put/call option. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OptionType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates whether it is a Call option (right to purchase a specific underlying asset) or a Put option (right to sell a specific underlying asset).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Call</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Right to buy a quantity of an asset for an agreed price at exercise date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PUTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Put</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Right to sell a quantity of an asset for an agreed price at exercise date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PlusOrMinusIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a positive or negative value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Rate2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Rate2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements qualifying the interest rate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sign</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the sign of the rate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rate" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Percentage charged for the use of an amount of money, usually expressed at an annual rate. The interest rate is the ratio of the amount of interest paid during a certain period of time compared to the principal amount of the interest bearing financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportPeriodActivity1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of report activity for a specific reporting period.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No transaction has been identified during the period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SNA2008SectorIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SNA2008SectorIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">System of National Accounts (SNA) Sector. Hierarchical classification of the sectors, as defined in the System of National Accounts 2008, as published by the United Nations.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SectorAndLocation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SectorAndLocation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the reported party through the sector and the location.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sctr" type="SNA2008SectorIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sector</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represents the counterparty institutional section (such as non-financial corporation, central bank, ...).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Lctn" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Location of the country in which the counterparty is incorporated. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionOperationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of process related to a specific transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amendment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction amends a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction requests the deletion/cancellation of a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Correction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction corrects errors in a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NEWT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a new transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnsecuredMarketReport1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnsecuredMarketReport1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a reason for no activity and the unsecured market segment transaction details.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSetAction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the reason why no transactions are being reported for a money market reporting period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Tx" type="UnsecuredMarketTransaction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Transaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the details of the unsecured market transaction as reported by the reporting agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UnsecuredMarketTransaction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnsecuredMarketTransaction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details of each individual un&#13;
secured market transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptdTxSts" type="TransactionOperationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportedTransactionStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the status of the reported transaction, that is details on whether the transaction is a new transaction, an amendment of a previously reported transaction, a cancellation of a previously reported transaction or a correction to a previously reported and rejected transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqTxIdr" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique transaction identifier will be created at the time a transaction is first executed, shared with all registered entities and counterparties involved in the transaction, and used to track that particular transaction during its lifetime.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryTxId" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Internal unique transaction identifier used by the reporting agent for each transaction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyPrtryTxId" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyProprietaryTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Internal unique proprietary transaction identifier as assigned by the counterparty of the reporting agent for each transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtrPtyId" type="CounterpartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the counterparty of the reporting agent for the reported transaction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradDt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time on which the parties entered into the reported transaction.&#13;
&#13;
Usage: when time is available, it must be reported.&#13;
&#13;
It is to be reported with only the date when the time of the transaction is not available. &#13;
&#13;
The reported time is the execution time when available or otherwise the time at which the transaction entered the trading system of the reporting agent. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money is exchanged by counterparties or on which the purchase or sale of a debt instrument settles. &#13;
With regard to call accounts and other unsecured borrowing/lending redeemable at notice, it is the date on which the deposit is rolled over, that is on which it would have been paid back if it had been called/not rolled over. In the case of a settlement failure in which settlement takes place on a different date than initially agreed, no transactional amendment needs to be reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtrtyDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaturityDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money is due to be repaid by the borrower to the lender or on which a debt instrument matures and is due to be paid back. In regards to callable and puttable instruments, the final maturity date must be provided. For call accounts and other unsecured borrowing/lending redeemable upon notice, the first date on which the instrument may be redeemed must be provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxTp" type="MoneyMarketTransactionType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines whether the transaction is a cash borrowing or cash lending transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstrmTp" type="FinancialInstrumentProductType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstrumentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the instrument via which the borrowing or lending transaction takes place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxNmnlAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionNominalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money initially borrowed or lent on deposits. In the case of debt securities, it is the nominal amount of the security issued or purchased.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DealPric" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Dirty price at which the security is issued or traded in percentage points, and which is to be reported as 100 for unsecured deposits.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RateTp" type="InterestRateType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RateType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fixed rate for deposits and debt instruments with fixed coupons or variable rate for debt instruments for which the pay out at maturity or period depends on observed value of some underlying reference rate as well as for unsecured deposits paying interest at regular intervals. &#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealRate" type="Rate2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate, expressed in accordance with the ACT/360 money market convention, at which the deposit was concluded and at which the cash amount lent is remunerated. In the case of debt instruments, this is the effective interest rate, expressed in accordance with the ACT/360 money market convention, or the discount margin for floating rate notes at which the instrument was issued or purchased.&#13;
This value can be either positive or negative irrespective of whether the cash is borrowed or lent. It represents the contractually agreed remuneration rate on the transaction nominal amount regardless of whether the transaction type is reported as borrowed or lent.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FltgRateNote" type="FloatingRateNote1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FloatingRateNote</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debt instrument in which the periodic interest payments are calculated on the basis of the value (that is fixing of an underlying reference rate such as EURIBOR) on predefined dates (that is fixing) dates and which has a maturity of no more than one year.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="CallPutOptn" type="Option12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CallPutOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the option details, when the transaction reported is a call/put option.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
